/.idea/
/.pytest_cache/
/__pycache__/
*.pyc
/venv/
.python-version
.DS_Store
.env
.firebaserc
database-debug.log
firebase.json
firestore-debug.log
firestore.indexes.json
firestore.rules
pubsub-debug.log
storage.rules
ui-debug.log
terraform/*/.terraform*
.vscode/
firebase-debug.log
.terraform
.venv
**/*.orig
notes
.tool-versions
.ruff_cache
